
#page-sidebar {
  background: rgb(51, 77, 219);
  border-right: 0.5px solid #dcdddf;
}
/* .pf-c-nav__list {
  border-bottom: none;
} */
.pf-c-nav__item.pf-m-expandable::before {
  border-bottom: none;
}
.pf-c-nav__link {
  color: white;
}


.pf-c-nav__link::before {
  border-bottom: none;
}

.pf-c-nav__link.pf-m-current {
  background: white;
  color: rgb(51, 77, 219);
}


.pf-c-nav__link:hover {
  background: white;
  color: rgb(51, 77, 219);
}

.pf-c-page__header {
  background: white;
  border-bottom: 0.5px solid #dcdddf;
}

#nav-toggle {
  color: rgb(51, 77, 219);
}

.pf-c-page__header-brand-link img {
  display: none;
}

.pf-c-page__header-brand-link::before {
  content: '';
  display: block;
  width: 100px;
  height: 40px;
  background: url('../img/labs.png') no-repeat center center;
  background-size: contain;
}


.pf-c-dropdown__toggle-icon, .pf-c-dropdown__toggle-text {
   color: rgb(98, 95, 95);
}

#save-btn {
  background-color: rgb(51, 77, 219); /* blue */
  color: white;
}

#save-btn:hover {
  background-color: rgb(41, 223, 132); /* darker blue on hover */
  cursor: pointer;
  color: rgb(51, 77, 219);
}

#cancel-btn {
  color: #CB1A14;
}

input:focus {
     border-bottom: 1px solid rgb(51, 77, 219);
    outline: none;
    border-radius: 5px;
}
input {
     border-bottom: 1px solid rgb(51, 77, 219);
}

input:hover {
    border-bottom: 1px solid rgb(51, 77, 219);
}
.pf-c-jump-links__item.pf-m-current a::before {
  border-left: 3px solid rgb(51, 77, 219);
}