
#page-sidebar {
  background: #561616;
  border-right: 0.5px solid #dcdddf;
}
/* .pf-c-nav__list {
  border-bottom: none;
} */
.pf-c-nav__item.pf-m-expandable::before {
  border-bottom: none;
}
.pf-c-nav__link {
  color: #F1F1F1;
}


.pf-c-nav__link::before {
  border-bottom: none;
}

.pf-c-nav__link.pf-m-current {
  background: #F1F1F1;
  color: #561616;
}


.pf-c-nav__link:hover {
  background: #F1F1F1;
  color: #561616;
}

.pf-c-page__header {
  background: #F1F1F1;
  border-bottom: 0.5px solid #dcdddf;
}

#nav-toggle {
  color: #561616;
}

.pf-c-page__header-brand-link img {
  display: none;
}

.pf-c-page__header-brand-link::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 40px;
  background: url('../img/gasco.png') no-repeat center center;
  background-size: contain;
}

.pf-c-page__header-brand-link::after {
  content: 'GASCO';
  display: inline-block;
  color: #561616;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
.pf-c-page__header-brand-link:hover {
  text-decoration: none;
}


.pf-c-dropdown__toggle-icon, .pf-c-dropdown__toggle-text {
   color: rgb(98, 95, 95);
}

#save-btn {
  background: #F1F1F1;
  color: #561616;
}

#cancel-btn {
  color: #CB1A14;
}

input:focus {
    border: 2px solid #F1F1F1;
    outline: none;
    border-radius: 5px;
}
input {
    border-bottom: 1px solid #561616;
}

input:hover {
    border-bottom: 1px solid #561616;
}
.pf-c-jump-links__item.pf-m-current a::before {
  border-left: 3px solid #561616;
}