
#page-sidebar {
  background: white;
  border-right: 0.5px solid #dcdddf;
}
/* .pf-c-nav__list {
  border-bottom: none;
} */
.pf-c-nav__item.pf-m-expandable::before {
  border-bottom: none;
}
.pf-c-nav__link {
  color: black;
}


.pf-c-nav__link::before {
  border-bottom: none;
}

.pf-c-nav__link.pf-m-current {
  background: #363865;
}


.pf-c-nav__link:hover {
  background: #363865;
}

.pf-c-page__header {
  background: white;
  border-bottom: 0.5px solid #dcdddf;
}

#nav-toggle {
  color: black;
}

.pf-c-page__header-brand-link img {
  display: none;
}

.pf-c-page__header-brand-link::before {
  content: '';
  display: block;
  width: 150px;
  height: 40px;
  background: url('../img/claritae-logo.png') no-repeat center center;
  background-size: contain;
}


.pf-c-dropdown__toggle-icon, .pf-c-dropdown__toggle-text {
   color: rgb(98, 95, 95);
}

#save-btn {
  background: #363865;
}

#cancel-btn {
  color: #CB1A14;
}

input:focus {
    border: 2px solid #363865;
    outline: none;
    border-radius: 5px;
}
input {
    border-bottom: 1px solid #363865;
}

input:hover {
    border-bottom: 1px solid #363865;
}
.pf-c-jump-links__item.pf-m-current a::before {
  border-left: 3px solid #363865;
}